@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato&family=Merriweather&family=Playfair+Display&family=Source+Sans+Pro&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
}

* {
  font-size: large;  
  padding-bottom: 1rem;
  
}

.container{
    margin:auto;
    display:flex;
    flex-direction: column;
    width: 40vw;
    background-color:#fdba74;
    position: static;
    
}

.heading{
    text-align: center;
    font-size:xx-large;
    
}

.paragraph{
    font-size: larger;
    margin-bottom: 10px;
    text-align: center;
    padding:0rem 2.5rem;
    
}




